/***************************************************************************************************************************************************************************************/

/*HTML5 BOILERPLATE MINIFIED*/

/***************************************************************************************************************************************************************************************/



/***************************************************************************************************************************************************************************************/
.content {
    background-color: #fbfbfc;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

svg:not(:root) {
    overflow: hidden;
  }

.business .container-fluid .contenido-business .content-inner,
.branding .container-fluid .contenido-branding .content-inner,
.digital .container-fluid .contenido-digital .content-inner{
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-orient: vertical!important;
	-webkit-box-direction: normal!important;
	-ms-flex-direction: column!important;
	flex-direction: column!important;
	-webkit-box-pack: center!important;
	-ms-flex-pack: center!important;
	justify-content: center!important;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.mb-6 {
	margin-bottom: 24vw!important;
}
.mt-9 {
	margin-top: 36vw!important;
}

.business,
.branding,
.digital {
	background-color: #fbfbfc;
	overflow: hidden;
	position: relative;
}

.business svg,
.branding svg,
.digital svg {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	width: 100vw;
	z-index: 2;
}

.cb-img-container {
	background: #3634b1;
	position: relative;
}

.cb-img-container img {
	height: auto;
	opacity: 0.75;
	position: relative;
	width: 100%;
	z-index: 1;
}


.h-outline text {
	font-family: Glacial Indifference, sans-serif;
	font-weight: 700;
	stroke: #ffe0c6;
	text-transform: uppercase;
}

.container-fluid .business,
.container-fluid .branding,
.container-fluid .digital {
	padding-left: 8vw;
	padding-right: 8vw;
	background-color: #fbfbfc;
	position: relative;
	z-index: 2;
}


.business .container-fluid .contenido-business .content-inner:after,
.branding .container-fluid .contenido-branding .content-inner:after,
.digital .container-fluid .contenido-digital .content-inner:after {
	background: #fbfbfc;
	content: "";
	height: 100%;
	position: absolute;
	right: -24vw;
	top: 0;
	width: 25vw;
	z-index: -1;
}

@media (min-width:768px) {
	.col-md-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.offset-md-6 {
		margin-left: 50%;
	}
	.my-md-2 {
		margin-top: 8vw!important;
		margin-bottom: 8vw!important;
	}
	
	.ml-md-2 {
		margin-left: 8vw!important;
	}

	.cb-img-container {
		clip: rect(0, auto, auto, 0);
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100vw;
		z-index: 0;
	}
	
	.cb-img-container img {
		bottom: 0;
      height: 100vh;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: fixed;
      right: 0;
      top: 0;
      -webkit-transform: perspective(0);
      transform: perspective(0);
      width: 100vw;
      z-index: -1;
	}
	
	.business svg,
	.branding svg,
	.digital svg {
		position: fixed;
		width: 50vw;
	}
	
	.business .container-fluid,
	.branding .container-fluid,
	.digital .container-fluid {
		background-color: transparent;
	}
	
	.business .container-fluid .contenido-business .content-inner,
	.branding .container-fluid .contenido-branding .content-inner,
	.digital .container-fluid .contenido-digital .content-inner {
		background: #fcfbfb;
		height: 100vh;
		margin-left: 70px;
		position: relative;
		z-index: 2;
	}
	
}
